.custom-footer {
    min-height: 650px;
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
    transition: all .5s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .youtube-trailer {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #copyright {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        font-size: 20px;
        color: white;
    }

}

@media (min-width: 1200px) { 
    
}

@media (min-width: 992px) { 

}

@media (min-width: 768px) { 
    
}

@media (max-width: 576px) { 
    .iframe-video {
        width: 300px;
    }
}
